@font-face {
  font-family: SFPro;
  src: url(https://assets.codepen.io/3522775/SF-Pro-Display-Regular.otf);
}

* {
  padding: 0;
  margin: 0;
  font-family: SFPro, "Helvetica Neue";
  color: black;
}

body {
  background-color: #101010;
}
